.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(150, 149, 149, 0.226);
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
}

.container_form {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    max-width: 450px;
    border: 1px solid #BCBCBC;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

button {
    margin-top: 5px;
}

.fa-times {
    position: absolute;
    top: 20px;
    width: auto;
    background-color: #fff;
    padding: 5px 8px;
    border: 1px solid #000;
    border-radius: 50%;
}

.fa-times:hover {
    cursor: pointer;
}
    .form_control {
        padding-bottom: 10px;
    }

    .st_item {
        font-size: .8rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 200px;
    }

    .st_content_attach {
        border: 1px solid rgba(204, 204, 204, 0.856);
        padding: 5px;
        border-radius: 10px;
    }

        .st_content_attach button {
            font-size: .8rem;
            background-color: #dffaf0;
            margin-bottom: 10px;
            border-radius: 8px !important;
            color: #366351;
            border: 1px dashed #abcabf;
        }

        .st_button_upload_voucher {
            width: 100%;
            font-size: .8rem;
            margin-bottom: 10px;
            border-radius: 8px !important;
            color: #366351;
            padding: 10px;
            text-align: center;
            border: 1px dashed #77bba3;
            background-color: #dffaf0;
        }
            .st_button_upload_voucher span {
                margin-right: 20px;
            }

            .st_button_upload_voucher:hover {
                cursor: pointer;
                border: 1px dashed #15976a;
            }
        
            .st_button_upload_voucher:nth-child(1) {
                background-color: #fff;
            }

            .st_bgcolor_whopay {
                background-color: #fff;
            }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            color: #fff;
            border-radius: 7px;
            background-color: #2EBF8D;
            border: 1px dashed #2EBF8D;
        }

            button:hover {
                background-color: #22d191;
            }

        .container-vouchers img {
            margin-right: 5px;
            border-radius: 0 !important;
        }

        img {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

    .st_block_amount {
        width: 100%;
        border: 1px solid #BCBCBC;
        border-radius: 10px;
        height: 40px;
        padding-left: 10px;
    }

        input{
            width: 100%;
            outline: none;
            border: none;
            padding-left: 5px;
        }

    .container-vouchers {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .st_voucher {
        margin: 10px;
    }
        .fa-times.st_delete_voucher {
            top: -8px;
            left: -10px;
            font-size: .8rem;
            padding: 2px 4px;
            color: #36635193;
            border: 1px solid #36635185;
        }

    .st_voucher {
        position: relative;
    }

    textarea {
        border: 1px solid #BCBCBC;
        border-radius: 10px;
        padding: 10px;
        padding-left: 10px;
        font-size: .9rem;
        outline: none;
        width: 100%;
    }

    label {
        font-weight: bold;
        color: #BCBCBC;
    }



/* list pop up items */

.st_lista_items_select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.178);
}

/* Block account selected */
.st_form_destiny {
    width: 100%;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 8px !important;
    color: #366351;
    padding: 12px;
    text-align: center;
    border: 1px dashed #77bba3;
    /* background-color: #dffaf0; */
}

.st_form_destiny:hover {
    cursor: pointer;
}

@media (max-width: 480px) {

.container-fluid {
    padding: 0;
    margin: 0;
}

.container_form {
    width: 95%;
    padding: 10px 15px;
}

.form_control {
    padding-left: 0;
    padding-right: 0;
}

.st_item {
    font-size: .7rem;
}

img {
    width: 40px;
    height: 40px;
}

}