.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

.box_container {
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 9px -1px rgba(14, 14, 14, 0.48);
    -moz-box-shadow: 1px 1px 9px -1px rgba(14, 14, 14, 0.48);
    box-shadow: 1px 1px 9px -1px rgba(14, 14, 14, 0.48);
}

.box_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_body {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.box_item {
    width: 90px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7rem;
    text-align: center;
}

.box_item .far{
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 50%;
    background-color: #fff;
}

.box_item span {
    margin-top: 5px;
}

.box_item img {
    width: 37px;
    height: 37px;
    display: block;
    border-radius: 50%;
}

@media (max-width:680px) {

    .box_container {
        width: 99%;
    }

    .box_item {
        width: 70px;
    }

}
