.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 45px);
    position: relative;
}

/* 
.fa-times {
    position: absolute;
    top: 5px;
    right: 5px;
} */