.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(150, 149, 149, 0.226);
}

.container_form {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 400px;
    max-width: 400px;
    border: 1px solid #BCBCBC;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.form_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

    .form_input {
        margin-left: 10px;
        width: 80%;
    }

    .form_input input {
        border-bottom: 1px solid #BCBCBC;
        padding-left: 10px;
    }

.form_body {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    background-color: #2EBF8D;
}

img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input[type=text]{
    width: 100%;
    outline: none;
    border: none;
    padding-left: 5px;
}

label {
    font-weight: bold;
    color: #BCBCBC;
}

.st_aside_dropdown_wrkspc {
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.st_aside_dropdown_wrkspc:hover {
    cursor: pointer;
    background-color: #eeeeee;
    font-weight: bold;
}

@media (max-width: 370px) {

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .container_form {
        width: 95%;
        padding: 10px;
    }

    .form_input {
        margin-left: 10px;
        width: 75%;
    }

    .form_body {
        padding-left: 0;
        padding-right: 0;
    }

    img {
        width: 40px;
        height: 40px;
    }

}