<ng-container *ngIf="show__popup">
    <div class="container-fluid" #popup__formulario>
        <div class="container_form">
            
            <!-- <i class="far fa-times" (click)="hiddenPopUp()"></i> -->
            <!-- <i *ngIf="dataStructureReceived.action==='Actualizar'" class="far fa-minus-circle" (click)="hiddenPopUp()" ></i> -->
            <div class="st_content">
                <div class="st_form_control_header">
                    <!-- class="border-dotted item-action-selected upload"  -->
                    <div class="st_border">
                        <label for='myFileC'>
                            <input accept=".png, .jpg, .jpeg"  
                                (change)="uploadFoto($event)" 
                                type="file" id="myFileC"
                                class="st_img_upload"
                                >
                                <i class="fas fa-pen"></i>
                        </label>
                        <img #imgFormulary  *ngIf="dataStructureReceived.imagen" 
                            src="{{objectToFormShared.image}}" alt="" srcset="">
                    </div>
                    <div class="st_form_header">
                        <label>{{dataStructureReceived.title}}</label>
                        <input *ngIf="flagInputNameFormulario" type="text" 
                        [(ngModel)]="objectToFormShared.name"
                        placeholder="Escribir nombre">
                    </div>
                </div>
                <div class="form_control" *ngIf="flagGroupSelectFormulario">
                    <label>Grupo</label>
                    <select name="cars" [(ngModel)]="selectGroup" id="cars"  (change)="chooseItem()" class="st_aside_dropdown_wrkspc" >
                        <option value="0">--- Seleccione tipo de categoría ----</option>
                        <option *ngFor="let itemGroup of this.dataStructureReceived.listGroupOnlyCategory"
                            value="{{itemGroup.id}}">
                            {{itemGroup.name}}
                        </option>
                    </select>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario">
                    <label>Destino</label>
                    <div class="st_form_destiny d-flex justify-content-between align-items-center">
                        <span>Seleccione</span>
                        <span>S/ 0.00</span>
                    </div>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario && this.dataStructureReceived.title != 'Transferencia externa'">
                    <label>Origen</label>
                    <div class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                        <span>Seleccione</span>
                        <i class="fas fa-sort"></i>
                    </div>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario || flagBlockAmountAccountFormulario">
                    <label>Monto</label>
                    <div class="st_block_amount d-flex align-items-center">
                        <span>S/</span>
                        <input type="text" [(ngModel)]="objectToFormShared.monto" placeholder="0.00">
                    </div>
                </div>

                <!-- <div class="st_container_categories" *ngIf="flagBlockAmountAccountFormulario">
                    <app-lista-shared [onlyListItems]="false"></app-lista-shared>
                </div> -->
                
            </div>
            <button (click)="saveOrUpdate()">{{dataStructureReceived.action}}</button>
            <button style="background-color: rgb(212, 33, 33);" 
                    *ngIf="dataStructureReceived.action==='Actualizar'"
                    (click)="delete()">
                Eliminar
            </button>
        </div>
       
    </div>
</ng-container>


