<div class="container-fluid" #popup__formulario>
    <div class="container_form">
        <div class="st_content">
            <div class="form_header">
                <label for='myFileC' >
                    <input accept=".png, .jpg, .jpeg"  
                        (change)="uploadFoto($event)" type="file" id="myFileC"
                        class="d-none">
                    <img #imgFormulary src="{{dataReceivedFormRegister.object.image}}" alt="loading..." srcset="">
                </label>
                <div class="form_input">
                    <input type="text" 
                    [(ngModel)]="dataReceivedFormRegister.object.name"
                    placeholder="Escribir nombre">
                </div>
            </div>
            <div class="form_body" *ngIf="dataReceivedFormRegister.listaShow">
                <label>Grupo</label>
                <select name="cars" class="st_aside_dropdown_wrkspc" 
                    [(ngModel)]="selectGroup" id="cars" (change)="chooseItemGroup()" >
                    <option value="0">--- Seleccione tipo de categoría ----</option>
                    <option *ngFor="let itemGroup of this.dataReceivedFormRegister.lista"
                        value="{{itemGroup.id}}">
                        {{itemGroup.name}}
                    </option>
                </select>
            </div>
            <button (click)="action(1)">{{dataReceivedFormRegister.txtActionBtn}}</button>
            <button (click)="action(0)" *ngIf="dataReceivedFormRegister.object.id != 0" > Eliminar </button>        
        </div>
    </div>
</div>
