<!-- <div class="cst_container_list"> -->
    <div class="st_block_expense">
        <div class="st_expense_header">
            <label>S/ 3560.20</label>
            <label>VIE 24 JUN 13:26</label>
        </div>
        <div class="st_expense_body">
            <div class="st_body_header">
                <span>Pagado</span>
                <span>Compartido</span>
            </div>
            <div class="st_body_body">
                <!-- <textarea rows="3"  readonly -->
                type="text">CREATE src/app/modules/period/detail-body-period/
                <!-- detail-body-period.component.ts (321 bytes)CREATE src/app/modules/period/ detail-body-period/detail-body-period.component.css (0 bytes)UPDATE src/app/modules/p eriod/period.module.ts (775 b PS C:\workspace_GIT_Front\ExpensesManagerAppNV> -->
            <!-- </textarea>         -->
            </div>
            <div class="st_body_footer">
                <span>Gustitos</span>
                <span>Debit BCP</span>
            </div>
        </div>
        <div class="st_expense_footer">
            <div class="st_footer_tag">
                <span *ngFor="let i of [1,2,3,4]">#tagNameList</span>
            </div>
            <div class="st_footer_vouchers">
                <img *ngFor="let i of [1,2,3,4]" src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
            </div>
        </div>
    </div>
<!-- </div> -->

