/* .cst_container_list {
    width: calc(95% +10px );
    outline: 1px solid red;
} */

.st_block_expense {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .9rem;
    margin-bottom: 10px;
}

.st_expense_header, .st_expense_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.st_body_header, .st_body_footer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.st_expense_header label{
    font-weight: bold;
}

.st_expense_header label:first-child{
    font-size: 1.2rem;
}

.st_body_body {
    margin: 10px 0;
}

    .st_footer_tag {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .st_footer_vouchers {
        padding: 5px 0 ;
        display: flex;
        justify-content: flex-end;
    }
        .st_footer_vouchers img {
            margin-left: 5px;
        }


    span {
        padding: 0 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        /* align-items: center;
        justify-content: center; */
    }

    /* .st_body_header span:nth-child(1) {
        background-color: #;
    } */
        
    .st_body_header span:nth-child(3) {
        background-color: #424242;
        /* color: #760B7A; */
    }

    .st_body_header span:nth-child(2) {
        background-color: #14BCBC;
    }

    .st_body_footer span:nth-child(1) {
        background-color: #eedfd9;
        color: #760B7A;
    }

    .st_body_footer span:nth-child(2) {
        background-color: #760B7A;
    }

    .st_footer_tag div{
        color: rgb(21, 67, 136);
        padding: 0 5px;
        margin: 0;
    }

    img {
        border: 1px solid rgb(110, 103, 103);
    }

textarea {
    /* border: 1px solid #BCBCBC; */
    border-radius: 10px;
    font-size: .9rem;
    outline: none;
    border: none;
    width: 100%;
    text-align: left;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


@media (max-width: 480px) {

    .st_footer_vouchers img {
        margin-left: 0;
        margin-right: 5px;
    }

    .st_expense_footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .st_block_expense {
        font-size: .7rem;
    }

    .st_block_expense {
        padding-left: 10px;
        padding-right: 10px;
    }

}