<div class="st_header">
    <div class="st_icon_header">
        <i class="fas fa-bars" (click)="showMenu()"></i>
    </div>
    <div class="st_btns_header">
        <span class="st_icon st_icon_notification" (click)="showNotificationpPopUp()">
            {{countNotification}}
        </span>
        <span class="st_icon st_btn_register_expense" 
            (click)="showFormRegisterExpense()" >
            <i class="far fa-plus" ></i>
        </span>
        <i *ngIf="flagShowCalendarIcon" class="st_icon fas fa-calendar-alt" (click)="flagCalendarpPopUp=!flagCalendarpPopUp"></i>
    </div>
</div>

<app-list-notification *ngIf="flagNotificationpPopUp"
    [receivedNotificationExpenseList]="notificationExpenseList"
    [receivedShowNotificationFromHeader]="flagNotificationpPopUp"
    (sendHiddenNotificationtoHeader)="receivedHiddenNotificationtoHeader($event)"
    >
</app-list-notification>

<app-calendar *ngIf="flagCalendarpPopUp"
    [receivedComponentParent]="sendComponentParentToCalendar"
    (sendResponseFromCalendarToParent)="receiveResponseFromCalendarToParent($event)"
></app-calendar>