<div class="st_header">
    <div class="st_icon_header">
        <i class="fas fa-bars" (click)="showMenu()"></i>
    </div>
    <div class="st_btns_header">
        <span class="st_icon_notification" (click)="showNotificationpPopUp()">
            15
        </span>
        <!-- <span class="st_btn_register_expense" 
            (click)="show__popup.showPopUp()" >
            <i class="far fa-plus" ></i>
        </span> -->
        <span class="st_btn_register_expense" 
            (click)="showFormRegisterExpense()" >
            <i class="far fa-plus" ></i>
        </span>
        <i class="fas fa-calendar-alt" (click)="flagCalendarpPopUp=!flagCalendarpPopUp"></i>
    </div>
</div>
<app-manage-expense *ngIf="showFormRgister" 
    [show__popup]="showFormRgister"
    (sendHiddenFormRegister)="receivedHiddenFormRegister()"
    >
</app-manage-expense>

<app-list-notification *ngIf="flagNotificationpPopUp">
</app-list-notification>

<app-calendar *ngIf="flagCalendarpPopUp"></app-calendar>
<!-- <app-formulary-register-expense-shared #show__popup></app-formulary-register-expense-shared> -->

