
    <div class="container_form mb-3">
        <div class="form_control pt-4 d-flex flex-column align-items-center mb-3">
            <h1 *ngIf="this.periodDetailHeaderReceived.period.statusPeriod; else elseStatusPeriod;">PERIODO ACTUAL</h1>
            <div class="st_fc_header mt-1 d-flex align-items-center justify-content-center w-100">
                <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
                <ng-container *ngIf="this.periodDetailHeaderReceived.period.activate; else elsePeriodActivateEqualsFalse;">
                    <span >Del {{periodShow.startDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                        hasta {{periodShow.finalDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                   </span>
                </ng-container>
                <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
            </div>
            <div (click)="viewExpenseByPeriod()" *ngIf="!this.periodDetailHeaderReceived.period.statusPeriod"  class="st_btn_confirm_account">
                    Ver gastos realizados a este periodo
            </div>
            <div class="st_fc_subheader" *ngIf="periodShow.statusPeriod">
                <a (click)="editingFinalDate()">Modificar fecha cierre</a>
                <a *ngIf="periodDetailHeaderReceived.totalSpent != 0" (click)="confirmationClosePeriod('manual')"> | Cierre manual</a>
            </div>
        </div>
        <div class="form_control d-flex justify-content-between align-items-center" >
            <div class="st_resume_data">
                <label>S/ {{periodDetailHeaderReceived.amountEstimado | number:'1.2-2'}}</label>
                <span>INICIAL ESTIMADO</span>
            </div>
            <div class="st_resume_data">
                <label >S/ {{periodDetailHeaderReceived.totalSpent | number:'1.2-2'}}</label>
                <span >TOTAL GASTADO</span>
            </div>
            <div class="st_resume_data">
                <label >S/ {{periodDetailHeaderReceived.saving | number:'1.2-2'}}</label>
                <span *ngIf="periodDetailHeaderReceived.saving < 0">
                    <i style="color: rgb(202, 41, 41);" class="fas fa-caret-down"></i>
                    PÉRDIDA
                </span>
                <span *ngIf="periodDetailHeaderReceived.saving >= 0">
                    <i style="color: rgb(66, 170, 66);" class="fas fa-caret-up"></i>
                    AHORRADO
                </span>
            </div>
        </div>             
    </div>


    <ng-template #elsePeriodActivateEqualsFalse>
       <span>Del {{periodShow.startDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
        hasta Actualidad
   </span>
    </ng-template>

    <ng-template #elseStatusPeriod>
        <h1>PERIODO FINALIZADO
       </h1>
    </ng-template>

    <app-calendar *ngIf="flagCalendarpPopUp"
        [receivedComponentParent]="sendComponentParentToCalendar"
        (sendResponseFromCalendarToParent)="receiveResponseFromCalendarToParent($event)"
    ></app-calendar>