

    <!-- <a routerLink="/period-list" class="linkLista">Lista</a><br> -->
    <!-- <div class="st-content-block d-flex flex-wrap justify-content-around"> -->
    <div class="container_form mb-3">
        <!-- <i class="far fa-minus-circle" ></i> -->
        <div class="form_control pt-4 d-flex flex-column align-items-center mb-3">
            <h1>PERIODO ACTUAL</h1>
            <div class="st_fc_header mt-1 d-flex align-items-center justify-content-center w-100">
                <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
                <span>Del 20 MAY 2022 al 22 JUN 2022</span>
                <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
            </div>
            <div class="st_fc_subheader">
                <a class="st_fc_subheader" href="">modificar fecha cierre</a> | 
                <a class="st_fc_subheader" href="">ejecutar cierre manual</a>
            </div>
        </div>
        <div class="form_control d-flex justify-content-between align-items-center" >
            <div class="st_resume_data">
                <label>S/ 13.260,00</label>
                <span>INICIAL ESTIMADO</span>
            </div>
            <div class="st_resume_data">
                <label >S/ 13.260,00</label>
                <span >TOTAL GASTADO</span>
            </div>
            <div class="st_resume_data">
                <label >S/ 13.260,00</label>
                <span >
                    <i style="color: rgb(202, 41, 41);" class="fas fa-caret-down"></i>
                    <i style="color: rgb(66, 170, 66);" class="fas fa-caret-up"></i>
                    PERDIDA
                </span>
            </div>
        </div>             
    </div>
