.st_container_calendar {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

.st_btn_goto_today {
  color: #3a5e56;
}

.st_btn_goto_today:hover {
  cursor: pointer;
  color: #4c796f;
}

.calendar {  
    margin-top: 45px;
    float: right;
    width: 290px;
    max-width: 290px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    
    font-size: .9rem;
    z-index: 1;
}
  
  .month {
    width: 100%;
    display: flex;
    padding: 8px 20px;
    text-align: center;
    align-items: center;
    color: rgb(44, 43, 43);
    justify-content: space-between;
  }
  
      .month i {
        cursor: pointer;
      }
      
      .month h1 {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1rem;
      }

  
  .weekdays {
    width: 100%;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: repeat(7, calc(100%/7));
    font-weight: 500;
    border-bottom: 1px solid #f1e8de;
    color: rgb(173, 173, 173);
    font-size: .7rem;
  }

      .weekdays div {
        text-align: center;
      }
  
  .days {
    width: 100%;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: repeat(7, calc(100%/7));
    grid-template-rows: repeat(6, 38px);
  }
  
      .days div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
      }
        
        .days div:hover {
          cursor: pointer;
        }

  
  /* .days div:hover:not(.todayS) {
    background-color: #88beb2;
    border: 0.2rem solid #777;
    color: #000;
    cursor: pointer;
    z-index: 3;
  } */
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .todayS {
    border: 2px solid #88beb2;
    border-radius: 50%;
  }
  

  .st_content_days_weeks {
    position: relative;
    overflow-y: hidden;
  }

  .st_fast_filters {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all .5s;
  }

  .st_fast_filters_show {
    top: 0;
  }

    .st_fast_filters div {
      padding: 5px 10px;
      border-bottom: 1px solid rgba(204, 204, 204, 0.349);
    }

    .st_fast_filters div:hover, .ft_hover:hover {
     cursor: pointer;
     background-color: rgb(236, 236, 236);
    }





  .actions__filter {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

      .actions__filter div {
        padding: 3px 10px;
        border-radius: 5px;
        margin: 3px 5px;
        color: rgb(196, 190, 190);
        background-color: rgb(77, 70, 70);
        font-weight: 400;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }

      .actions__filter div:hover {
        background-color: rgb(163, 154, 154);
        cursor: pointer;
      }


  /* --- input calendar ---*/

  .form__control, .form__control input:hover {
    cursor: pointer;
    color: #88beb2;
  }

 .form__control {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   background-color: #fff;
   padding: 0 10px;
   font-size: 12px;
   outline: 1px solid #ccc;
 }

 .form__control input{
      height: 30px;
      padding: 0;
      padding-top: 2px;
      margin: 0;
      font-size: 12px;
      background-color: transparent;
 }

 .form__control input:focus{
    outline: none;
  }


.form__control i{
  margin-right: 5px;
}


@media (max-width:300px) {

  .calendar {
    width: 100%;
  }

}