

      <!-- <div class="content__form">
        <div class="form__control" (click)="showSelectDateFilter()">
            <i class="far fa-calendar-alt"></i>
            <input type="text" name="" id="" [ngModel]="inputValueDateInit | date:'dd MMM YYYY' | uppercase" placeholder="25 ENE 2012" readonly>
            <span>-</span>
            <input type="text" name="" id="" [ngModel]="inputValueDateEnd | date:'dd MMM YYYY' | uppercase" placeholder="25 ENE 2012" readonly>
        </div>
      </div> -->
      
      <!-- *ngIf="showPopUpCalendar" -->
      <!-- <div class="container_calendar" *ngIf="showPopUpCalendar"> -->
        <div class="calendar" >
            <!-- <div class="calendartWO" ></div> -->
                <div class="month">
                    <i class="fas fa-angle-left prev" (click)="goToPrev()"></i>
                    <div class="date">
                        <p>{{showDateFull}}</p>
                        <h1>{{showDateMonthAndYearCurrent}}</h1>
                    </div>
                    <i class="fas fa-angle-right next" (click)="goToNext()"></i>
                    
                </div>
                <div class="weekdays">
                    <div>D</div>
                    <div>L</div>
                    <div>M</div>
                    <div>M</div>
                    <div>J</div>
                    <div>V</div>
                    <div>S</div>
                </div>
                <div #hashCOntentCalendar class="days">

                    <div class="prev-date" *ngFor="let day of daysMonthPrev; " >{{day}}</div>
                    <div   class="today_select" (click)="getDateByDaySelected(day)"
                          id="{{i+1}}" 
                          *ngFor="let day of daysMonthCurrent;let i = index">
                        <!-- <span  [ngClass]="today === day && date.getMonth() == month? 'today' : ''"> -->
                        {{day}}
                    <!-- </span> -->
                    </div>
                    <div class="next-date" *ngFor="let day of daysMonthNext" >{{day}}</div>
                </div>
                <!-- <div class="actions__filter">
                    <div (click)="catchDate(0,0,0)">Hoy</div>
                    <div (click)="catchDate(0,0,-1)">Ayer</div>
                    <div (click)="catchDate(1,0,1)">Mes actual</div>
                    <div (click)="catchDate(1,-1,1)">Mes pasado</div>
                    <div (click)="catchDate(0,0,-7)">Última semana</div>
                    <div (click)="catchDate(0,-3,0)">Hace 3 meses</div>
                </div> -->
        </div>
        <!-- </div> -->
    