
.select_item_initial {
  background-color: #dadada73;
  border-radius: 50%;
  /* z-index: 2; */
}

.select_item_final {
  background-color: #ca3434;
  border-radius: 50%;
  /* z-index: 2; */
}

/* .select_item_final {
  background-color: rgb(131, 131, 131);
  border-radius: 0 50% 50% 0;
} */

.calendar {
    max-width: 300px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    
    font-size: .9rem;
    position: relative;
}


.calendartWO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aqua;
  background-color: #ca3434;
}
  
  .month {
    width: 100%;
    display: flex;
    padding: 8px 20px;
    text-align: center;
    align-items: center;
    color: rgb(44, 43, 43);
    justify-content: space-between;
  }
  
      .month i {
        cursor: pointer;
      }
      
      .month h1 {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1rem;
      }

  
  .weekdays {
    width: 100%;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: repeat(7, calc(100%/7));
    font-weight: 500;
    border-bottom: 1px solid #f1e8de;
    color: rgb(173, 173, 173);
    font-size: .7rem;
  }

      .weekdays div {
        text-align: center;
      }
  
  .days {
    width: 100%;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: repeat(7, calc(100%/7));
    grid-template-rows: repeat(7, 35px);
  }
  
      .days div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
      }
        
        .days div:hover {
          cursor: pointer;
        }

  
  /* .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    color: #fff;
    cursor: pointer;
  } */
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #f1e8de;
    border-radius: 50%;
  }

  .actions__filter {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

      .actions__filter div {
        padding: 3px 10px;
        border-radius: 5px;
        margin: 3px 5px;
        color: rgb(196, 190, 190);
        background-color: rgb(77, 70, 70);
        font-weight: 400;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }

      .actions__filter div:hover {
        background-color: rgb(163, 154, 154);
        cursor: pointer;
      }


  /* --- input calendar ---*/

  .form__control, .form__control input:hover {
    cursor: pointer;
  }

 .form__control {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   background-color: #fff;
   padding: 0 10px;
   font-size: 12px;
   outline: 1px solid #ccc;
 }

 .form__control input{
      height: 30px;
      padding: 0;
      padding-top: 2px;
      margin: 0;
      font-size: 12px;
      background-color: transparent;
 }

 .form__control input:focus{
    outline: none;
  }


.form__control i{
  margin-right: 5px;
}
