<div class="container-fluid">
    <div #containerlistAccount class="st_container_list_account">
        <ng-container *ngIf="accountParentShow.id != 0; else templateElseWithoutAccountPrent">
            <div class="st_account_principal">
                <div class="st_acc_principal_header">
                    <span>Principal
                        <label>{{accountParentShow.statusAccount}}</label>
                    </span>
                    <span class="icons">
                        <i class="far fa-plus" (click)="showFormularyRegisterOrUpdate('Registrar', 'child')"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'PROCESS'" class="far fa-exchange-alt" (click)="redirectToTransfer('Transferencia externa', accountParentShow)"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', accountParentShow)"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-minus-circle" (click)="deleteConfirmAccount(accountParentShow)"></i>
                    </span>
                </div>
                <div class="st_acc_principal_body">
                    <div class="st_acc_data">
                        <label for="">S/{{accountParentShow.balance | number: '1.2-2'}}</label>
                        <span style="color:rgb(99, 99, 99);">Disponible</span>
                    </div>
                    <span style="color:rgb(99, 99, 99);">S/ {{accountParentShow.balanceFlow | number: '1.2-2'}}</span>
                </div>
                <div *ngIf="accountParentShow.statusAccount == 'INITIAL'" 
                    (click)="confirmAccount()" class="st_btn_confirm_account">
                    Confirmar estado de las cuentas
                </div>
            </div>
            <ng-container *ngIf="accountListChildsShow.length > 0; else templateElseWithoutAccountChild">
            </ng-container>
        </ng-container>
        <div #listAccount class="st_list_account">
            <div class="st_card_account" *ngFor="let account of accountListChildsShow; let i = index;">

                <span class="icons icons-float-card">
                    <!-- <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', account)"></i> -->
                    <i class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', account)"></i>
                    <i *ngIf="accountParentShow.statusAccount == 'PROCESS'" class="far fa-exchange-alt" (click)="redirectToTransfer('Transferencia interna', account)"></i>
                    <i (click)="deleteConfirmAccount(account)" class="fas fa-minus-circle"></i>
                </span>

                <p>{{account.accountName}}</p>
                <div class="st_account_actual">
                    <div class="st_acc_act_data">
                        <label>{{account.statusAccount}}</label>
                        <span>S/ {{account.balance | number: '1.2-2'}}</span>
                    </div>
                    <div class="st_acc_act_data">
                        <label>Disponible</label>
                        <span>S/ {{account.balanceFlow | number: '1.2-2'}}</span>
                    </div>
                </div>
                <div class="st_account_estimated" *ngIf="account.statusAccount=='CLOSED'">
                    <div class="st_acc_act_data">
                        <label>Estimación inicial</label>
                        <span>S/ 500.00</span>
                    </div>
                    <div class="st_acc_act_data">
                        <div>
                            <span>T: S/ 120.00</span>
                            <i style="color: rgb(202, 41, 41);" class="far fa-arrow-down"></i>
                            <i style="color: rgb(66, 170, 66);" class="far fa-arrow-up"></i>
                        </div>
                        <div>
                            <span>G: S/ 600.00</span>
                            <i style="color: rgb(202, 41, 41);" class="fas fa-caret-down"></i>
                            <i style="color: rgb(66, 170, 66);" class="fas fa-caret-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-account *ngIf="flagFormulario" 
    (responseToFatherComponent)="receiveToSonComponent($event)" 
    [dataStructureReceived]="dataStructure" 
    >
</app-account>

<ng-template #templateElseWithoutAccountPrent>
    <div class="st_content_text_without_account" (click)="showFormularyRegisterOrUpdate('Registrar', 'parent')">
        Su periodo no tiene habilitada una cuenta principal, cree una y empiece a organizar su presupuesto
        <br>Presione AQUÍ para crear su cuenta <i class="fas fa-plus"></i>
    </div>
</ng-template>

<ng-template #templateElseWithoutAccountChild>
    <div class="st_content_text_without_account st_child" (click)="showFormularyRegisterOrUpdate('Registrar', 'child')">
        Puedes agregar sub cuentas apartir de la principal, para llevar la contabilidad de gastos específicos.
        A estas podrás asignarles las categorías que tu decidas
        <br>Presione AQUÍ para crear sub cuentas <i class="fas fa-plus"></i>
    </div>
</ng-template>