<div class="container-fluid">
    <div #containerlistAccount class="st_container_list_account">
        <ng-container *ngIf="accountParentShow.id != 0; else templateElseWithoutAccountPrent">
            <div class="st_account_principal">
                <div class="st_acc_principal_header">
                    <span>Principal
                        <label *ngIf="accountParentShow.statusAccount != 'PROCESS'">{{accountParentShow.statusAccount}}</label>
                    </span>
                    <span class="icons" *ngIf="accountParentShow.statusAccount != 'CLOSED'">
                        <i class="far fa-plus" (click)="showFormularyRegisterOrUpdate('Registrar', 'child')"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'PROCESS'" class="far fa-exchange-alt" (click)="redirectToTransfer('Transferencia externa', accountParentShow)"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', accountParentShow)"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-minus-circle" (click)="deleteConfirmAccount(accountParentShow)"></i>
                    </span>
                </div>
                <div class="st_acc_principal_body">
                    <div class="st_acc_data">
                        <label for="">S/{{accountParentShow.balance | number: '1.2-2'}}</label>
                        <span style="color:rgb(99, 99, 99);">Disponible</span>
                    </div>
                    <div class="d-flex justify-content-end flex-column align-items-end">
                        <div class="d-flex align-items-center" style="color:rgb(99, 99, 99);" *ngIf="!showBlockTransfer && transferences.length > 0" (click)="viewBTransferences()"> 
                            <span>{{transferences.length}} transferencias</span>  
                            <i class="fas fa-eye pt-1" style="margin-left: 5px"></i>
                        </div>
                        <div class="d-flex align-items-center" style="color:rgb(99, 99, 99);" *ngIf="showBlockTransfer" (click)="viewBTransferences()"> 
                            <span>{{accountListReceived.length / 2}} Accounts</span> 
                            <i class="fas fa-eye pt-1" style="margin-left: 5px"></i>
                        </div>
                        <div style="color:rgb(99, 99, 99);">S/ {{accountParentShow.balanceFlow | number: '1.2-2'}}</div>
                    </div>
                </div>

                <div *ngIf="showBlockTransfer">
                    <div class="mt-3 mb-3 d-flex justify-content-between">
                        <span>Transferencias externas</span>
                        <span>S./ {{totalTransferencesExtern}}</span>
                    </div>
                    <div class="st_list_account">
                        <ng-container *ngFor="let item of transferences; let i = index;">
                            <div class="st_card_account" *ngIf="item.typeEntryExtern">
                                <div class="st_block d-flex justify-content-between">
                                    <span><b>Origen</b></span>
                                    <span *ngIf="item.accountOrigin == null"><b>Externo</b></span>
                                    <span *ngIf="item.accountOrigin != null">{{item.accountOrigin.accountName}}</span>
                                </div>
                                <div class="st_block d-flex justify-content-between">
                                    <span><b>Destino</b></span>
                                    <span>{{item.accountDestiny.accountName}}</span>
                                </div>
                                <div *ngIf="item.reason" class="st_block">
                                    <span>{{item.reason}}</span>
                                </div>
                                <div class="st_block d-flex justify-content-between">
                                    <!-- <i class="fas fa-exchange-alt"></i> -->
                                    <span>{{item.createDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}</span>
                                    <span>S./ {{item.amount}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                
                <div *ngIf="accountParentShow.statusAccount == 'INITIAL'" 
                    (click)="confirmAccount()" class="st_btn_confirm_account">
                    Confirmar estado de las cuentas
                </div>
            </div>
            <ng-container *ngIf="accountClosedStructureList.length > 0; else templateElseWithoutAccountChild"></ng-container>
        </ng-container>        
        <ng-container *ngIf="!showBlockTransfer">
            <div #listAccount class="st_list_account">
                <div class="st_card_account mt-3 mb-3" [ngClass]="item.account.balanceFlow &lt; '1'?'st_card_account_saldo_cero':'st_card_account'"
                    *ngFor="let item of accountClosedStructureList; let i = index;">

                    <span class="icons icons-float-card"  *ngIf="accountParentShow.statusAccount != 'CLOSED'">
                        <!-- <i *ngIf="accountParentShow.statusAccount == 'INITIAL'" class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', account)"></i> -->
                        <i class="fas fa-edit" (click)="showFormularyRegisterOrUpdate('Actualizar', item.account)"></i>
                        <i *ngIf="accountParentShow.statusAccount == 'PROCESS'" class="far fa-exchange-alt" (click)="redirectToTransfer('Transferencia interna', item.account)"></i>
                        <i (click)="deleteConfirmAccount(item.account)" class="fas fa-minus-circle"></i>
                    </span>

                    <p>{{item.account.accountName}}</p>
                    <div class="st_account_actual">
                        <div class="st_acc_act_data">
                            <label *ngIf="accountParentShow.statusAccount != 'PROCESS'">{{item.account.statusAccount}}</label>
                            <span>S/ {{item.account.balance | number: '1.2-2'}}</span>
                        </div>
                        <div class="st_acc_act_data">
                            <label>Disponible</label>
                            <span  [ngStyle]="{'color':(item.account.balanceFlow &lt; '1') ? 'red' : 'none' }">
                                S/ {{item.account.balanceFlow | number: '1.2-2'}}
                            </span>
                        </div>
                    </div>
                    <div class="st_account_estimated" *ngIf="item.account.statusAccount=='CLOSED'">
                        <div class="st_acc_act_data">
                            <label>Estimación inicial</label>
                            <span>S/ {{item.amountInitial | number: '1.2-2'}}</span>
                        </div>
                        <div class="st_acc_act_data">
                            <div *ngIf="item.diferenciaAmountByStatus &lt; 1">
                                <span>T: S/ {{item.diferenciaAmountByStatus | number: '1.2-2'}}</span>
                                <i style="color: rgb(202, 41, 41);" class="fas fa-caret-down"></i>
                                <!-- <i style="color: rgb(66, 170, 66);" class="far fa-arrow-up"></i> -->
                            </div>
                            <div>
                                <span>G: S/ {{item.spent | number: '1.2-2'}}</span>
                                <i style="color: rgb(202, 41, 41);" class="far fa-arrow-down"></i>
                                <!-- <i *ngIf="item.amountInitial<=item.account.balance" style="color: rgb(66, 170, 66);" class="fas fa-caret-up"></i> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.account.categories.length>0">
                        <p>categorías asociadas</p>
                        <div  class="st_list_categ_selected">
                            <ng-container *ngFor="let categ of item.account.categories">
                                <div>
                                    <img src="{{categ.image}}" alt="" srcset="">
                                    <label for="">{{categ.name}}</label>
                                </div>
                            </ng-container>
                        </div>
                        
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showBlockTransfer">
            <p class="mt-3 mb-3"><b>Transferencias internas</b></p>
            <div #listAccount class="st_list_account" >
                <ng-container *ngFor="let item of transferences; let i = index;">
                    <div class="st_card_account" *ngIf="!item.typeEntryExtern">
                        <div class="st_block d-flex justify-content-between">
                            <span><b>Origen</b></span>
                            <span *ngIf="item.accountOrigin == null"><b>Ingreso</b></span>
                            <span *ngIf="item.accountOrigin != null">{{item.accountOrigin.accountName}}</span>
                        </div>
                        <div class="st_block d-flex justify-content-between">
                            <span><b>Destino</b></span>
                            <span>{{item.accountDestiny.accountName}}</span>
                        </div>
                        <div *ngIf="item.reason" class="st_block">
                            <p>{{item.reason}}</p>
                        </div>
                        <div class="st_block d-flex justify-content-between">
                            <!-- <i class="fas fa-exchange-alt"></i> -->
                            <span>{{item.createDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}</span>
                            <span>S./ {{item.amount}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>

<app-account *ngIf="flagFormulario" 
    (responseToFatherComponent)="receiveToSonComponent($event)" 
    [dataStructureReceived]="dataStructure" 
    >
</app-account>

<ng-template #templateElseWithoutAccountPrent>
    <div  class="st_content_text_without_account" (click)="showFormularyRegisterOrUpdate('Registrar', 'parent')">
        Su periodo no tiene habilitada una cuenta principal, cree una y empiece a organizar su presupuesto
        <br>Presione AQUÍ para crear su cuenta <i class="fas fa-plus"></i>
    </div>
</ng-template>

<ng-template #templateElseWithoutAccountChild>
    <div *ngIf="blockAccount"  class="st_content_text_without_account st_child" (click)="showFormularyRegisterOrUpdate('Registrar', 'child')">
        Puedes agregar sub cuentas apartir de la principal, para llevar la contabilidad de gastos específicos.
        A estas podrás asignarles las categorías que tu decidas
        <br>Presione AQUÍ para crear sub cuentas <i class="fas fa-plus"></i>
    </div>
</ng-template>
