<ng-container >
    <div class="container-fluid" #popup__formulario>
        <div class="container_form" #container_formulario>
            <div class="st_content">
                <div class="st_form_control_header">
                    <div class="st_border">
                        <label for='myFileC'>
                            <input *ngIf="flagActivateInputFile" accept=".png, .jpg, .jpeg"  
                                type="file" id="myFileC"
                                class="st_img_upload"
                                readonly>
                                <i class="fas fa-pen"></i>
                        </label>
                        <img #imgFormulary  *ngIf="dataStructureReceived.imagen" 
                            src="{{objectToFormShared.image}}" alt="" srcset="">
                    </div>
                    <div class="st_form_header">
                        <label>{{dataStructureReceived.title}}</label>
                        <input *ngIf="flagInputNameFormulario" type="text" 
                        [(ngModel)]="objectToFormShared.name"
                        placeholder="Escribir nombre">
                    </div>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario && this.dataStructureReceived.title != 'Transferencia externa'">
                    <label>Origen</label>
                    <ng-container *ngIf="objectToFormShared.origen.id==0; else accountOrigen;">
                        <div (click)="showListItemsForSelect('account')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                            <span>Seleccione</span>
                            <i class="fas fa-sort"></i>
                        </div>
                    </ng-container>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario">
                    <label>Destino</label>
                    <div class="st_form_destiny d-flex justify-content-between align-items-center">
                        <span>{{objectToFormShared.destino.accountName}}</span>
                        <span>S/{{objectToFormShared.destino.balanceFlow | number: '1.2-2'}}</span>
                    </div>
                </div>
                <div class="form_control" *ngIf="flagBlockTransferFormulario || flagBlockAmountAccountFormulario">
                    <label>Monto</label>
                    <div class="st_block_amount d-flex align-items-center">
                        <span>S/</span>
                        <input type="text" [(ngModel)]="objectToFormShared.monto" placeholder="0.00" [disabled]="objectToFormShared.inputDisabled">
                    </div>
                </div>
                <ng-container *ngIf="showBtnSelectCategoriesOnlyChildAccount">
                    <div class="form_control" *ngIf="categoriesChecked.length>0">
                        <label for="">Categorías asociadas</label>
                        <div class="st_list_categ_selected">
                            <ng-container *ngFor="let categ of categoriesChecked">
                                <div>
                                    <img src="{{categ.image}}" alt="" srcset="">
                                    <label for="">{{categ.name}}</label>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form_control">
                        <div (click)="showListItemsForSelect('categories')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                            <span>Asocie Categorías a esta cuenta</span>
                            <i class="fas fa-sort"></i>
                        </div>
                    </div>
                </ng-container>     
            </div>
            <button (click)="saveOrUpdate()">{{dataStructureReceived.action}}</button>

            <!-- Lista de cuentas: caso selección de cuenta de origen -->
            <app-list-accounts-shared *ngIf="flagShowListOptionsSelect"        
                    [heightContainerChild]="heightForm"
                    [flagShowComponentReceived]="flagShowListOptionsSelect"
                    [dataOptionsSelectExpenseListReceived]="dataOptionsSelectExpenseList"
                    (sendEmittAccountSelected)="receivedItemSelectedaFromPopUp($event)"
            ></app-list-accounts-shared>

            <!-- Lista de categorias: caso Cuentas asociadas -->
            <div class="st_list_account_origen" [ngStyle]="{'display':(flagShowListCategories) ? 'block' : 'none' }">
                <h6>
                    <i (click)="backToAccountWithCategoriesSelected()" class="fas fa-angle-double-left"></i> Seleccione las categorías para asociarlas
                </h6>
                <div #lisCategoriesForSelect>
                    <div class="form_control st_frm_search" >
                        <div class="st_block_search d-flex align-items-center justify-content-start">
                            <i class="far fa-search" ></i>
                            <input (keyup)="searchMethod($event)" type="text"
                            spellcheck="false" autocomplete="none" placeholder="Search">
                            <i  (click)="createNewCategory()" *ngIf="showBtnAddItem" class="fas fa-check-circle"></i>
                        </div>
                        <span style="font-size: .8rem; text-align: center; font-weight:bold; color: rgb(82, 207, 82);">{{textSaveCategory}}</span>
                    </div>
                    
                    <ng-container *ngFor="let category of listaCategories; let i = index">
                        <label class="st_account_select d-flex justify-content-between align-items-center">
                            <div>
                                <input name="group1" class="check_item_list"
                                [value] = "category.id"
                                [checked] = "category.active"
                                (change)="onChangeCategory($event)"
                                 [disabled]="category.isDisabled"
                                 type="checkbox" 
                                 id="check_categ+{{i}}"
                                 >
                                <img src="{{category.image}}" alt="" srcset="">
                            </div>
                            <span>{{category.name}}</span>
                        </label>
                    </ng-container>
                </div>
            </div>
            <!-- [disabled]="disabledCheck" -->

        </div>
       
    </div>
</ng-container>

<ng-template #accountOrigen>
    <div (click)="showListItemsForSelect('account')" class="st_form_destiny d-flex justify-content-between align-items-center">
        <span>{{objectToFormShared.origen.accountName}}</span>
        <span>S/ {{objectToFormShared.origen.balanceFlow | number: '1.2-2'}}</span>
    </div>
</ng-template>



