<div class="container-fluid">
    <div #idFormShared class="st-content-block d-flex flex-wrap justify-content-around">
        
        <ng-container *ngIf="flagShowBtn; else templateBtn" >
            <div class="container_form mb-3" *ngFor="let dataHeader of listPeriodDetailHeader; let i = index">
                <div class="form_control d-flex flex-column align-items-center" (click)="redirectToDetailPeriod(dataHeader.period.id)">
                    <!-- <i class="far fa-minus-circle" ></i> -->
    
                    <h1 class="fs-6">PERIODO</h1>
                    <div class=" d-flex align-items-center justify-content-center w-100">
                        <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
                        <ng-container 
                            [ngTemplateOutlet]="dataHeader.period.activate === true? elsePeriodActivateEqualsTrue : elsePeriodActivateEqualsFalse"
                            [ngTemplateOutletContext]="{dataHeader:dataHeader}"
                            >
                        </ng-container>
                        <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
                    </div>
                    <div style="font-size: .7rem;color: rgb(202, 41, 41); font-weight: bold;" *ngIf="dataHeader.period.statusPeriod == false" >FINALIZADO</div>
                    <div style="font-size: .7rem;color: rgb(66, 170, 66); font-weight: bold;" *ngIf="dataHeader.period.statusPeriod == true">ACTUAL</div>
                </div>
                <div class="form_control d-flex flex-wrap justify-content-between align-items-center" >
                    <div class="st_resume_data text-center">
                        <label >S/ {{dataHeader.amountEstimado | number:'1.2-2'}}</label>
                        <span>INICIAL ESTIMADO</span>
                    </div>
                    <div class="st_resume_data text-center">
                        <label >S/ {{dataHeader.totalSpent | number:'1.2-2'}}</label>
                        <span>TOTAL GASTADO</span>
                    </div>
                    <div class="st_resume_data text-center">
                        <label >S/ {{dataHeader.saving | number:'1.2-2'}}</label>
                        <span class="st_resume_ahorro_perdida" *ngIf="dataHeader.saving < 0">
                            <i style="color: rgb(202, 41, 41);" class="fas fa-caret-down"></i> 
                             PÉRDIDA
                        </span>
                        <span class="st_resume_ahorro_perdida" *ngIf="dataHeader.saving >= 0">
                            <i style="color: rgb(66, 170, 66);" class="fas fa-caret-up"></i> 
                             AHORRADO
                        </span>
                    </div>
                </div>             
            </div>    
        </ng-container>
    </div>
</div>

<ng-template #templateBtn>
    <div *ngIf="listPeriodDetailHeader.length == 0">
        <button class="btn_period_init" (click)="initializerPeriod()">inicializar periodo</button>
    </div>
</ng-template>

<ng-template #elsePeriodActivateEqualsTrue let-dataHeader='dataHeader'>
    <span style="text-align: center;">Del {{dataHeader.period.startDate | date: 'dd MMM YYY  HH:mm:ss' | uppercase}}
        hasta {{dataHeader.period.finalDate | date: 'dd MMM YYY  HH:mm:ss' | uppercase}}
   </span>
</ng-template>

<ng-template #elsePeriodActivateEqualsFalse let-dataHeader='dataHeader'>
    <span style="text-align: center;">Del {{dataHeader.period.startDate | date: 'dd MMM YYY  HH:mm:ss' | uppercase}}
        hasta Actualidad
   </span>
</ng-template>