
  <div #idFormShared class="container_form" [ngClass]="{'st_container_form_account': dataStructureListReceived.onlyListItems === false}">
    <i class="fas fa-times" (click)="hiddenPopUp()"></i>  
    <div>
        <ng-container *ngIf="!dataStructureListReceived.onlyListItems">
            <div class="st_form_control_header">
                <img src="{{dataStructureListReceived.imagen}}"  alt="" srcset="">
                <div class="st_form_header">
                    <label>{{dataStructureListReceived.title}}</label>
                </div>
            </div>
            <div class="form_control st_frm_search" >
                <label >Filtrar</label>
                <div class="st_block_search d-flex align-items-center">
                    <i class="far fa-search" ></i>
                    
                    <input (keyup)="searchMethod($event)" type="text"
                    spellcheck="false" autocomplete="none" placeholder="">
                    <!-- <input [formControl]="search" type="text" [(ngModel)]="txtSearch"
                    spellcheck="false" autocomplete="none" placeholder=""> -->
                </div>
            </div>
        </ng-container>
        <label *ngIf="dataStructureListReceived.onlyListItems" style="margin-bottom: 10px;" >Asigne categorías a esta cuenta</label>

          <div class="form_control st_form_listacategorias"  #idList>
            <ng-container *ngIf="hiddenButtonAddItemAccording">
                <div class="st_item_category" [ngClass]="{'st_item_category_account': dataStructureListReceived.onlyListItems === false}">
                        <i class="far fa-plus"  (click)="redirectToFormulario('')"></i>
                        <label>Crear Nuevo</label>
                    </div>
            </ng-container>  

              <ng-container *ngFor="let item of listaShared; let i = index" >
                  <label for="check_categ+{{i}}" class="st_item_category" [ngClass]="{'st_item_category_account': dataStructureListReceived.onlyListItems === false}"
                     (click)="redirectToFormulario(item)">
                      <img src="{{item.image}}" alt="" srcset="">
                      <label>{{item.name | lowercase}}</label>
                      <input *ngIf="show_checkbox" class="check_item_list" type="checkbox" name="check_categ" id="check_categ+{{i}}">
                  </label>
                  
              </ng-container>
          </div>
         
      </div>
  </div>

<!-- 
<app-formulario-shared *ngIf="flagFormulario"
    (responseToFatherComponent)="receiveToSonComponent($event)"
    [btnText]="sendBtnText"
    [dataStructureReceived]="dataStructureReceived" 
>
</app-formulario-shared> -->
