
  <div #idFormShared class="container_form" [ngClass]="{'st_container_form_account': onlyListItems === false}">
      <div>
        <ng-container *ngIf="onlyListItems">
            <div class="st_form_control_header">
                <img src="{{imagen}}"  alt="" srcset="">
                <div class="st_form_header">
                    <label>Configuración de {{title}}</label>
                </div>
            </div>
            <div class="form_control st_frm_search" >
                <label >Filtrar</label>
                <div class="st_block_search d-flex align-items-center">
                    <i class="far fa-search" ></i>
                    <input type="text" placeholder="">
                </div>
            </div>
        </ng-container>
        <label *ngIf="!onlyListItems" style="margin-bottom: 10px;" >Asigne categorías a esta cuenta</label>

          <div class="form_control st_form_listacategorias"  #idList>
              <div class="st_item_category" [ngClass]="{'st_item_category_account': onlyListItems === false}">
                  <i class="far fa-plus"  (click)="redirectToFormulario('Registrar')"></i>
                  <label>Crear Nuevo</label>
              </div>
              <ng-container *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" >
                  <div class="st_item_category" [ngClass]="{'st_item_category_account': onlyListItems === false}"
                     (click)="redirectToFormulario('Actualizar')">
                      <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                      <label>Servicios departamento</label>
                  </div>
              </ng-container>
          </div>
         
      </div>
  </div>


<app-formulario-shared *ngIf="flagFormulario"
    (responseToFatherComponent)="receiveToSonComponent($event)"
    [title]="title"
    [btnText]="sendBtnText"
    [imagen]="imagen" 
>
</app-formulario-shared>
