<app-header-expense 
    (emitterHeight)="receivedHeightHeader($event)"
    [dataReceivedToShowHeaderFromExpenseBody]="dataSendToShowHeaderExpenses"
    >
</app-header-expense>
<!-- [totalGastadoReceived]="totalGastadoSend" -->
<app-searching
    [receivedListExpensesFromSkeleton]="sendListExpensesToBody"
    (emitterSearching)="receivedSearchingEmitFromHeader($event)"
    >
</app-searching>

<app-body-expense *ngIf="showBody" 
    [receivedHeightHeaderToBody]="sendHeightHeaderToBody"
    [receivedListExpensesFromSkeleton]="sendListExpensesToBody"
    (sendExpenseToUpdateStatausPay)="receivedExpenseToUpdateStatausPay($event)"
    >
</app-body-expense>
