<div #container_header>
    <div class="st_container_header">
        <div class="st_container_title_spent_available">
            <div class="st_block_subtitle">
                <label>Total Gastado</label>
                <span>S/ {{totalGastadoReceived | number: '1.2-2'}}</span>
            </div>
            <div class="st_block_subtitle" *ngIf="accountMain != null  && accountMain.id != 0">
                <label>Disponible</label>
                <span [ngSwitch]="accountMain.balanceFlow" >
                    <span *ngSwitchCase="80" style="color:'yellow'">S/ {{availableAmount | number: '1.2-2'}}</span>
                    <span *ngSwitchCase="40" style="color:'orange'">S/ {{availableAmount | number: '1.2-2'}}</span>
                    <span *ngSwitchCase="0" style="color:'red'">    S/ {{availableAmount | number: '1.2-2'}}</span>
                    <span  *ngSwitchDefault style="color:'black'">  S/ {{availableAmount | number: '1.2-2'}}</span>
                </span>
            </div>
        </div>
        <div class="st_fc_header mt-1 d-flex align-items-center justify-content-center w-100">
            <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
            <ng-container *ngIf="period.activate; else elsePeriodActivateEqualsFalse;">
                <!-- <span>Del {{period.startDate | date: 'dd MMM YYY HH:mm:ss' | uppercase}}
                    hasta {{period.finalDate | date: 'dd MMM YYY' | uppercase}}
               </span> -->
            <span>Del {{period.startDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                hasta {{period.finalDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
           </span>
            </ng-container>
            <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
        </div>
    </div>
</div>

<ng-template #elsePeriodActivateEqualsFalse>
    <span>Del {{period.startDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
        hasta Actualidad
   </span>
</ng-template>

