<div #container_header>
    <ng-container *ngIf="!dataReceivedToShowHeaderFromExpenseBody.flagIsPendingCollect; else templateListPendingCollect">
        <div class="st_container_header">
            <div style="color:rgb(104, 17, 17);" *ngIf = "dataReceivedToShowHeaderFromExpenseBody.flagIsPeriodFinalized">
                PERIODO FINALIZADO
            </div>
            <div class="st_container_title_spent_available">
                <div class="st_block_subtitle">
                    <label>Total Gastado</label>
                    <span>S/ {{dataReceivedToShowHeaderFromExpenseBody.total | number: '1.2-2'}}</span>
                </div>
                <div class="st_block_subtitle" *ngIf="dataReceivedToShowHeaderFromExpenseBody.flagShowAvailableAmoount">
                    <label>Disponible</label>
                    <span [ngSwitch]="dataReceivedToShowHeaderFromExpenseBody.availableAmount" >
                        <span *ngSwitchCase="80" style="color:'yellow'">S/ {{dataReceivedToShowHeaderFromExpenseBody.availableAmount | number: '1.2-2'}}</span>
                        <span *ngSwitchCase="40" style="color:'orange'">S/ {{dataReceivedToShowHeaderFromExpenseBody.availableAmount | number: '1.2-2'}}</span>
                        <span *ngSwitchCase="0" style="color:'red'">    S/ {{dataReceivedToShowHeaderFromExpenseBody.availableAmount | number: '1.2-2'}}</span>
                        <span  *ngSwitchDefault style="color:'black'">  S/ {{dataReceivedToShowHeaderFromExpenseBody.availableAmount | number: '1.2-2'}}</span>
                    </span>
                </div>
            </div>
            <div (click)="sendOrderToExpenseShow()" class="st_fc_header mt-1 d-flex align-items-center justify-content-center w-100">
                <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
                <!-- *ngIf="(period.activate || emisorComponent !='initial'); else elsePeriodActivateEqualsFalse;" -->
                <ng-container>
                    <span [ngStyle]="{'color':(period.statusPeriod == false) ? 'red' : '#000'}">
                        Del {{dataReceivedToShowHeaderFromExpenseBody.dateBegin | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                        hasta {{dataReceivedToShowHeaderFromExpenseBody.dateEnd | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                </span>
                </ng-container>
                <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
            </div>
        </div>
    </ng-container>
</div>

<ng-template #elsePeriodActivateEqualsFalse>
    <span>Del {{period.startDate | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
        hasta Actualidad
   </span>
</ng-template>

<ng-template #templateListPendingCollect>
    <div class="st_container_header">
        <div class="st_block_subtitle">
            <label>Gastos por Cobrar</label>
            <span>S/ {{dataReceivedToShowHeaderFromExpenseBody.total | number: '1.2-2'}}</span>
        </div>
    </div>
</ng-template>

