<div #container_header>
    <div class="st_container_header">
        <label for="">Total Gastado</label>
        <span class="fs-3">S/ 13.219,26</span>
        <div class="st_fc_header mt-1 d-flex align-items-center justify-content-center w-100">
            <img class="mx-2" src="../../../../assets/images/icon calendar.png" alt="" srcset="">
            <span>Del 20 MAY 2022 al 22 JUN 2022</span>
            <img class="mx-2"  src="../../../../assets/images/icon calendar.png" alt="" srcset="">
        </div>
    </div>
    <!-- Search block -->
    <div class="form_control" >
        <!-- <label >Filtrar</label> -->
        <div class="st_block_search d-flex align-items-center">
            <i class="far fa-search" ></i>
            <input type="text" placeholder=" Search">
        </div>
    </div>
</div>
