/* .container-fluid_period {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    height: calc(100vh - 45px);
    background-color: #fff;
    padding: 0 10px;
    background-color: rgba(196, 60, 60, 0.123);
} */
