<div class="st_block_expense" [ngClass]="{'st_formulario_filter_show': active_menu === true}">
    <h6 class="title_filter">
        <i (click)="translateHiddenMenuFilterSecundary()" 
        class="fas fa-chevron-double-left"></i> 
        {{title}}
    </h6>
    <div class="st_block_items">
        <div>
            <label for="key_+{{i}}" *ngFor="let itemResume of receivedListSendFilterBytemResume; let i = index;" 
                class="st_aside_dropdown_wrkspc item d-flex justify-content-between align-items-center">
                <div  class="st_block_detail d-flex justify-content-start align-items-center">
                    <input type="checkbox"
                            id="key_+{{i}}"
                            [value] = "itemResume.id"
                            [checked] = "itemResume.active"
                            (change)="onChangeItemResume($event)"
                        >
                        <!-- (change)="onChangeItemResume($event)" -->
                    <img src="{{itemResume.image}}" alt="" srcset="">
                    <div class="st_b_items_left">
                        <span>{{itemResume.name}}</span>
                        <span>{{itemResume.countItems}} items</span>
                    </div>
                </div>
                
                <span>S/ {{itemResume.totalAmountSpent | number: '1.2-2'}}</span>
            </label>
        </div>
    </div>
</div>
