<ng-container *ngIf="show__popup">
    <div class="container-fluid" #popup__formulario>
        <div class="container_form">
            <i class="far fa-times" (click)="this.show__popup = false;"></i>
            <div class="container_form_controls">
                <div class="form_control pt-1">
                    <label>Monto</label>
                    <div class="st_block_amount d-flex align-items-center">
                        <span>S/</span>
                        <input type="text" placeholder="0.00">
                    </div>
                </div>
                <div class="form_control pt-1">
                    <label>Descripción(optional)</label>
                    <textarea rows="3" 
                        type="text">CREATE src/app/modules/period/detail-body-period/detail-body-period.component.ts (321 bytes)CREATE src/app/modules/period/ detail-body-period/detail-body-period.component.css (0 bytes)UPDATE src/app/modules/p eriod/period.module.ts (775 b PS C:\workspace_GIT_Front\ExpensesManagerAppNV>
                    </textarea>
                </div>
                <div class="form_control">
                    <div class="st_content_aditionals_items d-flex justify-content-between">
                        <div class="st_item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                            <label>Category</label>
                            <span>Servicios Departamento</span>
                        </div>
                        <div class="st_item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                            <label>Acuerdo</label>
                            <span>Con Reposición</span>
                        </div>
                        <div class="st_item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                            <label>Medio de Pago</label>
                            <span>Tarjeta de Crédito</span>
                        </div>
                    </div>
                </div>
                <div class="form_control pt-1">
                    <div class="st_content_attach">
                        <button>Subir voucher(opcional)</button>
                        <div class="container-vouchers">
                            <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/usuarios-8190a.appspot.com/o/default%2Fdefault_image_options.JPG?alt=media&token=aaa9d207-c32f-40ae-8c3e-6131f21bcced" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <button>Registrar</button>
        </div>
    
    </div>
</ng-container>

