<div #contentList class="st_container_list_expense" >
    <ng-container *ngIf="sendListExpensesToBodyList.length > 0; else templateNoRows">
        <div class="st_block_expense" *ngFor="let expense of sendListExpensesToBodyList; let i = index;">
            <div class="st_expense_header" [ngStyle]="{'color':(expense.accordingType.id == 3) ? '#95A5A6' : '#000'}">
                <div>COD: G{{expense.id}} S/ {{expense.amountShow | number : '1.2-2'}}</div>
                <div>{{expense.createAt | date: 'EEE dd MMM  HH:mm:ss' | uppercase}}
                    <label *ngIf="!expense.editable && expense.period.statusPeriod" (click)="updateExpense(expense)"> <i class="fas fa-edit"></i></label>
                    <label *ngIf="!expense.editable && expense.period.statusPeriod" (click)="deletExpense(expense)"> <i class="fal fa-trash-alt"></i></label>
                </div>
            </div>
            <div class="st_expense_body">
                <div class="st_body_header">
                    <span [ngStyle]="{'background-color':(!expense.pendingPayment) ? '#47B152' : '#c9291e'}" *ngIf="!expense.pendingPayment">
                        Pagado por {{expense.payer}}
                    </span>
                    <span (click)="sendUpdatePayedExpense(expense.id)" [ngStyle]="{'background-color':(expense.pendingPayment) ? '#c9291e' : '#47B152'}" *ngIf="expense.pendingPayment">
                        Pendiente de pago<br>
                        Payer: {{expense.payer}}
                    </span>
                    <!-- <span *ngIf="expense.isPendingPayment">Pendiente de pago</span> -->
                    <span>
                        <strong>ACCORD:</strong> {{expense.accordingType.name}}
                    </span>
                    <span *ngIf="expense.account!=null">
                        <strong>ACC:</strong> {{expense.account.accountName}}
                    </span>
                </div>
                <div class="st_body_body">
                    {{expense.description}}
                </div>
                <div class="st_body_footer">
                    <span><strong>CATEG:</strong> {{expense.category.name}}</span>
                    <span><strong>PM:</strong> {{expense.paymentMethod.name}}</span>
                </div>
            </div>
            <div class="st_expense_footer">
                <div class="st_footer_tag">
                    <div *ngFor="let tag of expense.tag">#{{tag.tagName}} </div>
                </div>
                <div class="st_footer_vouchers">
                    <img (click)="showVoucherSelected(voucher.name)" *ngFor="let voucher of expense.vouchers" src="{{voucher.name}}" alt="" srcset="">
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-visualizador-voucher *ngIf="flagShowVoucherPopUp" 
    [receivedVoucher]="voucherSelectedToShow" 
    (sendResponseFromVoucherShowToParent)="receivedResponseFromVoucherShowToParent($event)">
</app-visualizador-voucher>


<ng-template #templateNoRows>
    <div class="d-flex justify-content-center align-items-center">
        Sin registros
    </div>
</ng-template>