    <div #containerMenuFilterMain class="st_container_expenses_filter" 
        [ngClass]="showTranslateMenuFilterMain === true?
                'st_container_expenses_filter_hidden'
                :'st_container_expenses_filter'"> 
        
        <div class="st_block_expense" >
            <h6 class="title_filter">
                <i (click)="translateHiddenMenuFilterMain()" 
                class="fas fa-chevron-double-left"></i> 
                FILTROS
            </h6>
            <div class="st_block_items">
                <div (click)="showFilterMenuSecundaryByOptionSelect('Categorías')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                    <div class="st_b_items_left">
                        <i class="fas fa-ballot-check"></i>
                        <span>Categorías</span>
                    </div>
                    <i class="fas fa-caret-right"></i>
                </div>
                <div (click)="showFilterMenuSecundaryByOptionSelect('Acuerdos')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                    <div class="st_b_items_left">
                        <i class="fas fa-handshake"></i>
                        <span>Acuerdos</span>
                    </div>
                    <i class="fas fa-caret-right"></i>
                </div>
                <div (click)="showFilterMenuSecundaryByOptionSelect('Métodos de Pago')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                    <div class="st_b_items_left">
                        <i class="fas fa-credit-card"></i>                
                        <span>Medios de pago</span>
                    </div>
                    <i class="fas fa-caret-right"></i>
                </div>
                <div (click)="showFilterMenuSecundaryByOptionSelect('Tags')" class="st_aside_dropdown_wrkspc d-flex justify-content-between align-items-center">
                    <div class="st_b_items_left">
                        <i class="fas fa-ballot-check"></i>
                        <span>Tag</span>
                    </div>
                    <i class="fas fa-caret-right"></i>
                </div>
            </div>

            <app-filter-by-item-shared 
                *ngIf="showMenuFilterSecundary"
                [title]="sendTitleMenuSecundary"
                [receivedListSendFilterBytemResume]="sendListFilterBytemResumeShow"
                [active_menu]="showMenuFilterSecundaryTranslate"
                (reditectToMenu)="ReceivingHiddenMenuFilterSecundary($event)"
                (listendFather)="receivingDataFromChildFilter($event)"
            > 
            </app-filter-by-item-shared>

        </div>
        
        

    </div>


