.st_container_expenses_filter {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(204, 204, 204, 0.082);
    transition: all .5s;
    display: flex;
    justify-content: flex-end;
}

.st_container_expenses_filter_hidden {
    right: 0;
}

.st_block_expense {
    background-color: #fff;
    width: 600px;
    max-width: 600px;
    height: 100vh;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: .9rem;
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden;
}

.fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fa-times:hover {
    font-weight: bold;
    cursor: pointer;
}

label {
    font-weight: bold;
    color: #BCBCBC;
}

.st_aside_dropdown_wrkspc {
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin: 10px 0;
}

.st_aside_dropdown_wrkspc:hover
{
    cursor: pointer;
    background-color: #eeeeee9f;
    font-weight: bold;
}

.st_b_items_left i{
    margin-right: 10px;
}


/* show formulario filter*/
.st_formulario_filter {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: all .5s;
    display: flex;
    justify-content: flex-end;
    background-color: #ccc;
}

.st_formulario_filter_show {
    right: 0;
}


@media (max-width: 370px) {

    .st_block_expense {
        padding: 10px;
    }

}